PORT=8013
CLIENT_ORIGIN=http://localhost:8014

ACCESS_SECRET=replace_with_a_strong_random_secret
REFRESH_SECRET=replace_with_a_different_strong_random_secret

OPENAI_API_KEY=sk-...

MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_CLUSTER=your_cluster.mongodb.net

LLAMACPP_URL=http://localhost:8080
